/*
====================================================================================================


               NNNNNNNN        NNNNNNNN                                   JJJJJJJJJJJ
               N:::::::N       N::::::N                                   J:::::::::J
               N::::::::N      N::::::N                                   J:::::::::J
               N:::::::::N     N::::::N         +++++++                   JJ:::::::JJ
               N::::::::::N    N::::::N         +:::::+                     J:::::J  
               N:::::::::::N   N::::::N         +:::::+                     J:::::J  
               N:::::::N::::N  N::::::N   +++++++:::::+++++++               J:::::J  
               N::::::N N::::N N::::::N   +:::::::::::::::::+               J:::::j  
               N::::::N  N::::N:::::::N   +:::::::::::::::::+               J:::::J  
               N::::::N   N:::::::::::N   +++++++:::::+++++++   JJJJJJJ     J:::::J  
               N::::::N    N::::::::::N         +:::::+         J:::::J     J:::::J  
               N::::::N     N:::::::::N         +:::::+         J::::::J   J::::::J  
               N::::::N      N::::::::N         +++++++         J:::::::JJJ:::::::J  
               N::::::N       N:::::::N                          JJ:::::::::::::JJ   
               N::::::N        N::::::N                            JJ:::::::::JJ     
               NNNNNNNN         NNNNNNN                              JJJJJJJJJ       


Title:		Nate and Jermaine
Author: 	D. Nathan Dillon, http://natedillon.com
Copyright:	(c) 2013 D. Nathan Dillon

====================================================================================================
*/


body {
    background: white;
}

.arrow.left:before {
    content: "<";
}
.arrow.right:after {
    content: ">";
}
